<script type="text/javascript">
	var xmlhttp, percentDone, bar;
	
	if (window.XMLHttpRequest){
		// code for IE7+, Firefox, Chrome, Opera, Safari
	  	xmlhttp=new XMLHttpRequest();
	}
	else{
		// code for IE6, IE5
	  	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	
	window.onload = setInterval(incProgressBar, 1000/24)

	function incProgressBar(){
		bar = document.getElementById("progressBar");
		percentDone = <%= @percentDone %>;
		document.getElementById("barVal").innerHTML = percentDone;
		
	};
</script>

<h2 id='id1'>Geocoder</h2>

<%= form_tag('/geocode_pages/geocode', multipart: true) do %>
  <p>Choose File to Geocode:</p>
  <%= file_field_tag(:file, multiple: false, accept: 'application/vnd.ms-excel', required: true) %></br>
  <p>What Row/Column do your locations start in?</p>
  <%= label_tag('Row: ') %>			
  <%= number_field(:row, nil, min: 0, required: true) %>
  <%= label_tag('Column: ') %>			
  <%= number_field(:col, nil, min: 0, required: true) %></br>
  <p></p>
  <%= submit_tag('Geocode') %>
<% end %>
<p id = 'demo'></p>
<button type="button">Click Me!</button>

<progress value="0" max = "100" id="progressBar"></progress>
<p id="barVal"></p>